In [3]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup as soup
from urllib.request import urlopen as url

In [4]:
def yelp_scraper(base_url,num_of_reviews,csv_name):
    name=[]
    review=[]
    stars=[]
    pages=list(np.arange(0, num_of_reviews, 20))
    for page in pages:
        my_url=base_url+"?start="+str(page)
        request=url(my_url)
        htmlscrape=request.read()
        request.close()
        page_soup = soup(htmlscrape,"html.parser")
        container=page_soup.findAll("div",{"class","review review--with-sidebar"})
        for i in container:
            name.append(i.find("a", {"class":"user-display-name js-analytics-click"}).text)
            review.append(i.find("p",{"lang":"en"}).text)
            if i.find("img",{"alt":"1.0 star rating"}):
                stars.append(1.0)
            elif i.find("img",{"alt":"2.0 star rating"}):
                stars.append(2.0)
            elif i.find("img",{"alt":"3.0 star rating"}):
                stars.append(3.0)
            elif i.find("img",{"alt":"4.0 star rating"}):
                stars.append(4.0)
            else:
                stars.append(5.0)
    data = pd.DataFrame(zip(name,stars,review),columns=["name","stars","review"])
    data.to_csv(csv_name,index=False)

In [7]:
yelp_scraper(url,180,"business_1.csv")

In [8]:
business_1=pd.read_csv("business_1.csv")

In [9]:
business_1.head(5)

        name  stars                                             review
0   Keith L.    4.0  I am basing this review after one visit, so th...
1  Cianni E.    4.0  I was hangry one Sunday late afternoon looking...
2    Eric D.    5.0  Service in a Sunday Brunch was excellent. I ha...
3    Jess L.    4.0  My husband and I were able to snag a happy hou...
4     Ted R.    4.0  The Beer Baron's a good spot on College with a...